
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #74EBD5;
    --secondary-color: #ACB6E5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #111;
    color: white;
}

header nav{/* navbar*/
    height: 15vh;
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 7rem;
}

header h1{
    margin-left: 1rem;;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;

    background-image: linear-gradient(200deg, var(--main-color), var(--secondary-color));
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

header ul{
    display: flex;
    gap: 5rem;
    list-style: none;
}

header a{
    display: block;
    color: white;
    text-decoration: none;

    border-radius: .2rem;
    padding: .5rem 1rem;

    transition: .2s ease-in;
    border-bottom: 2px solid var(--main-color);

    overflow: hidden;
    position: relative;
}

header a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border-radius: .1rem;
    z-index: -1;

    transition: .2s ease-in;
    transform: translateX(-101%);
    background: var(--main-color);
}

header a:hover::before{
    transform: translateX(0);
}

header a:hover{
    color: white;
}

header ul li:nth-child(1) a{
    background: var(--main-color);
    color: white;
}






#btn{
    all: unset;
    cursor: pointer;
    transition: .5s ease-out;
    font-size: 30px;

    display: none;
}

#btn:hover{
    transform: rotate(180deg);
    color: var(--main-color);
}



/* .s-container */
.s-container{
    min-height: 80vh;
    width: 70%;
    margin: auto;

    display: flex;
    align-items: center;
    gap: 3rem;
}

.typed{
    overflow: hidden;
    border-right: .15em solid var(--main-color);
    white-space: nowrap;
    animation: typing 1s forwards;
    font-size: 1.6rem;
    width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }

}

.icons{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.icons .line{
    height: 40px;
    width: 3.5px;
    border-radius: 5rem;
    background: white;
}

.icons a{
    font-size: 20px;
    color: #eee;
    border: solid;
    border-color: var(--main-color);
    text-decoration: none;

    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    transition: .1s ease-in;
}

.icons a:hover{
    transform: scale(1.3);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
}

.fa-location-dot{
    color: var(--main-color);
}

.header h3{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin-bottom: -1rem;
}

.header h1{
    font-size: 30px;
    margin-bottom: 5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 5px;
    border-radius: 5rem;
    background: var(--main-color);
    border-radius: 1rem;
}

.image{
    width: 320px;
    height: 320px;
}
img{
    width: 200px;
}

.image img{
    width: 320px;
    height: 320px;

    border-radius: 50%;
    object-fit: cover;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.title{
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 3.3rem;
    margin-bottom: 1rem;
}

.title span{
    font-weight: 700;
}

.subtitle{
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.description{
    line-height: 1.6rem;
    margin-bottom: 2rem;
    color: #dfdfdf;
    width: 85%;
}

.button{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.button a{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;

    padding: .8rem 1.6rem;
    outline: none;
    border: none;
    border-radius: 10px;

    transition: .3s ease-out;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgba(0,0,0, 0.4);
}

.button a:hover{
    transform: scale(1.05);
    color: white;
}

.button a{
    text-decoration: none;
    background: var(--main-color);
    color: white;
}

.button a:nth-child(2){
    text-decoration: none;
    background-color: white;
    color: #111;
}

.button button:hover{
    background-color: var(--main-color);
}

.button a:nth-child(2):hover{
    background-color: var(--main-color);
    color: white;
}


/* .s-container */

/*parcours-section*/

.parcours-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.parcours-item::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);

    left: calc(50% - 1px);
}
.parcours-item{
    width: 100%;
    position: relative;
}
.parcours-item:last-child{
    margin-bottom: 0;
}
.parcours-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.parcours-item:nth-last-child(even){
    padding-left: calc(50% + 30px);
}
.parcours-item-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.parcours-item-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.parcours-item-content{
    background-color: black;
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.parcours-item-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.parcours-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.parcours-item-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50%;
}




/*parcours-section*/

/* projets sections */

.projets-section{
    margin-top: 80px;
}

.projets-section .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    max-width: 1000px;
    width: 80%;
    height: 100%;
    margin: 30px auto 0 auto;
}

.projet-card{
    background: #0D0D0D;
    border-radius: 1rem;
    max-width: 450px;
}

.projet-image-container{
    overflow: hidden;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    object-fit: cover;
}

.projet-image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    transition: .2s ease-in-out;
}

.projet-image:hover{
    transform: scale(1.05);
}

.projet-content{
    border-radius: 0px 0px 10px 10px;
    padding: 1.5rem 1rem;

    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
}

.projet-content > p {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    white-space: pre-wrap;
}

.check-projet{
    display: flex;
    gap: 1rem;
}

.check-projet a{
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.check-projet a:hover{
    color: var(--main-color);
}

/* projets sections */

.back-top{
    text-decoration: none;
    font-size: 20px;
    color: #eee;

    background: var(--main-color);
    border-radius: 5rem;

    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 2%;
    right: 2%;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    transition: .4s ease-out;

    opacity: 0;
    pointer-events: none;
}

.back-top:hover{
    transform: translateY(-20px);    
}

.back-top.active{
    opacity: 1;
    pointer-events: auto;
}

/*CV*/
.cv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.4rem;
    width: 600px;
}
.cv-download{
    font-size: 23px;
    display: flex;
    justify-content: center;
}

.cv-download a{
    text-decoration: none;
    color: var(--secondary-color);
}

/*CV*/

/* compétences sections */
.competences-section{
    margin-top: 4rem;
}

.competences-content{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 110px;
    gap: 1em;
}

.fa-html5:hover{
    transition: 0.15s ease-in-out;
    transform: scale(1.1);
    background-color: #E34C26;
    text-shadow: 0 0 25px #E34C26, 0 0 50px #E34C26;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    
}

.fa-css3-alt:hover{
    transition: 0.15s ease-in-out;
    transform: scale(1.1);

    background-color: #264DE4;
    text-shadow: 0 0 25px #264DE4, 0 0 25px #264DE4;
    color: transparent;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.fa-js:hover{
    transition: 0.15s ease-in-out;
    transform: scale(1.1);

    background-color: #F0DB4F;
    text-shadow: 0 0 25px #F0DB4F, 0 0 25px #F0DB4F;
    color: transparent;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
}
.fa-php:hover{
    transition: 0.15s ease-in-out;
    transform: scale(1.1);

    background-color: #8993BE;
    text-shadow: 0 0 25px #8993BE, 0 0 25px #8993BE;
    color: transparent;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
}
.fa-java:hover{
    transition: 0.15s ease-in-out;
    transform: scale(1.1);
    
    background-color: #F89820;
    text-shadow: 0 0 25px #F89820, 0 0 25px #F89820;
    color: transparent;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
}
.fa-database:hover{
    transition: 0.15s ease-in-out;
    transform: scale(1.1);
    
    background-color: #221fbd;
    text-shadow: 0 0 10px #221fbd, 0 0 10px #221fbd;
    color: transparent;
    background-clip: text;

    -webkit-background-clip: text;
    -moz-background-clip: text;
}

/* compétences sections */

/* Stage */

/* sommaire */

.sommaire{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    margin-left: 4rem;
}

.sommaire li{
    list-style-type: circle;
}
.sommaire li:hover{
    list-style-type: disc;
    color: var(--main-color);
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
}

.sommaire a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.sommaire a:hover{
    color: var(--main-color);
}

.hero{
    margin-left: 30rem;
}
.hero h1 {
    margin-left: -30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h4 {
    margin-left: -30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage{
    margin-top: 5rem;
    margin-left: 20rem;
    margin-right: 7rem;
}
.stage-content h4{
    margin-top: 0.5rem;
    font-size: 20px;
}
.stage-content p{
    margin-top: 2rem;
}
.stage-content ul{
    margin-top: 2rem;;
    margin-left: 5rem;
}

.stage-content a{
    color: white;
}
.stage-content a:hover{
    color: var(--main-color);
}
.stage-images{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.stage-images img{
    width: 300px;
    height: 220px;
}
.stage-images img:hover{
    transform: scale(1.4);
    transition: 0.3s ease-in-out;
}


/*Contexte Section*/
.contexte-section h4{
    text-decoration: underline;
}




/* compétences sections */

/*Responsive*/
@media only screen and (max-width: 1500px){
    .typed{
        overflow: visible;
        border-right: .15em hidden var(--main-color);
    }
}



@media only screen and (max-width: 1100px){
    .s-container, header nav{
        width: 80%;
    }
    .typed{
        overflow: visible;
        border-right: .15em hidden var(--main-color);
    }
}


@media only screen and (max-width: 950px){
    #btn{
        display: block;
    }

    header ul{
        position: absolute;
        right: 5vh;
        top: 15vh;
        min-height: 400px;
        width: 300px;

        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;

        background: #0000007F;
        backdrop-filter: blur(2px);

        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    header ul.show{
        display: flex;
    }

    .s-container{
        width: 80%;
        flex-direction: column-reverse;
        gap: 1rem;
        padding-block: 3rem;
        padding-bottom: 2rem;
    }


    .content{
        width: 90%;
        text-align: center;
    }

    .title{
        font-size: 2.5rem;
    }

    .description{
        width: 100%;
    }

    .button{
        margin: 1rem auto;
    }

    .image{
        width: 250px;
        height: 250px;
    }

    .image img{
        height: 250px;
        width: 100%;
    }


    .parcours-item::before{
        left: 7px;
    }
    .parcours-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .parcours-item:nth-child(odd),
    .parcours-item:nth-child(even){
        padding-left: 37px;
    }
    .parcours-item-dot{
        left: 0;
    }

}


@media only screen and (max-width: 550px){
    header ul{
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .icons{
        display: none;
    }

    .content{
        width: 100%;
    }

    .title{
        font-size: 1.5rem;
    }
    
    
}
